* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

head{
    border: solid black;
    box-sizing: border-box;
    width: 100vw;
}

head > div{
    width: 100%;
    box-sizing: border-box;
}

li {
    width: 100%;
    height: 6vh;
    text-align: center;
    border: solid blue;
    top: 0;
    position: fixed;
    box-sizing: border-box;
    list-style-type: none;
    background-color: rgb(95, 74, 60);
}

li a{
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    margin-right: 3vw;
    border: solid red;
    color: white;
}

.home{
    border: solid violet;
    width: 100%;
    box-sizing: border-box;
}

.home img{
    width: 100%;
    box-sizing: border-box;
}

.home-welcome{
    position: absolute;
    width: 98vw;
    color: white;
    top: 44vh;
    border: solid blue;
    box-sizing: border-box;
}

.welcome{
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}

.name{
    font-weight: 600;
    font-size: 4em;
    text-align: center;
}

.decor{
    font-size: 4em;
    text-align: center;
}

.pottery{
    width: 50%;
    text-align: center;
}

.to-prahok{
    width: 100%;
    box-sizing: border-box;
}

.prahok{
    
}

.to-food{
    width: 100%;
}

.to-attraction{
    width: 100%;
}

.map{
    text-align: center;
}